.NavBar {
  grid-area: n;
  background-color: greenyellow;
}
.NavBar ul {
  list-style: none;
}
.item {
  color: slateblue;
}
.link {
  color: tomato;
  text-decoration: none;
}
.item a.activLink {
  color: darkblue;
}
