.dialogs{
    display: grid;
    grid-template-columns: 5fr 5fr;
}
.dialogsItems{
    padding: 10px;
}
.dialog{

}
.nameLink {

}
.dialog a.activeLink{
    color: yellow;
}
.messages{
    padding: 10px;
}
.message{}
.image{
    width: 50px;
    border-radius:50%;
}
.newMessages{

}
